:root {
  --swiper-pagination-bottom: -100px;
}

@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Dhurjati&family=Honk&family=Knewave&family=Lugrasimo&family=Modak&family=Permanent+Marker&family=Rampart+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap");
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Dhurjati&family=Honk&family=Jost:ital,wght@0,100..900;1,100..900&family=Knewave&family=Lugrasimo&family=Modak&family=Permanent+Marker&family=Rampart+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap");
.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Dhurjati&family=Honk&family=Jost:ital,wght@0,100..900;1,100..900&family=Knewave&family=Lugrasimo&family=Modak&family=Permanent+Marker&family=Rampart+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rouge+Script&family=Rubik+Doodle+Shadow&display=swap");
.rubik-doodle-shadow-regular {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #14ae5c;
}

//--------------------------------------------------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------------------------------------

.background {
  background-color: #121212;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px #14ae5c;
  z-index: 10;
  background: #121212a8;

  .translate {
    display: flex;
    // background: violet;
    justify-content: flex-start;
    .btn-trans {
      font-size: 1.5rem;
      background-color: #00000000;
      outline: none;
      position: relative;
      border: none;
      right: 0;
      cursor: pointer;
      transition: 100ms;
      color: aliceblue;
    }
    :active {
      transform: translateY(5px);
    }
  }

  .btn-container {
    display: flex;
    // background: violet;
    justify-content: flex-end;
    width: 90%;
  }

  .container-menu {
    display: none;
  }

  .menu {
    display: none;
  }

  button {
    font-size: 1.5rem;
    background-color: #00000000;
    outline: none;
    position: relative;
    border: none;
    right: 0;
    cursor: pointer;
    transition: 100ms;
    color: aliceblue;
  }

  button:active {
    transform: translateY(5px);
  }

  @media (max-width: 560px) {
    .container-menu {
      display: flex;
      justify-content: flex-end;
      width: 90%;
    }

    /* From Uiverse.io by vinodjangid07 */
    #checkbox {
      display: none;
    }

    .toggle {
      position: relative;
      width: 40px;
      height: 40px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      transition-duration: 0.5s;
    }

    .bars {
      width: 100%;
      height: 4px;
      background-color: #14ae5c;
      border-radius: 4px;
    }

    #bar2 {
      transition-duration: 0.8s;
    }

    #bar1,
    #bar3 {
      width: 70%;
    }

    #checkbox:checked + .toggle .bars {
      position: absolute;
      transition-duration: 0.5s;
    }

    #checkbox:checked + .toggle #bar2 {
      transform: scaleX(0);
      transition-duration: 0.5s;
    }

    #checkbox:checked + .toggle #bar1 {
      width: 100%;
      transform: rotate(45deg);
      transition-duration: 0.5s;
    }

    #checkbox:checked + .toggle #bar3 {
      width: 100%;
      transform: rotate(-45deg);
      transition-duration: 0.5s;
    }

    #checkbox:checked + .toggle {
      transition-duration: 0.5s;
      transform: rotate(180deg);
    }

    .menu {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 73px;
      right: 0;
      background: #121212a8;
      width: 30%;
      height: 100%;
      padding: 10px;
      transform: translateX(1000px);
    }

    .menu button {
      margin: 5px 0;
    }

    .slide-in-right {
      -webkit-animation: slide-in-right 0.5s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    @-webkit-keyframes slide-in-right {
      0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
      }
    }
    @keyframes slide-in-right {
      0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
      }
    }

    .slide-out-right {
      -webkit-animation: slide-out-right 0.5s
        cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    }

    @-webkit-keyframes slide-out-right {
      0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
      }
      100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
      }
    }
    @keyframes slide-out-right {
      0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
      }
      100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
      }
    }
  }
}

.container {
  display: flex;
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  // background: blue;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;

  @media (min-width: 770px) {
    .presentacion {
      width: 90%;
      display: flex;

      .descripcion {
        width: 800px;
      }

      .container-img {
        justify-items: flex-end;
        align-items: flex-end;
        // justify-content: flex-end;
        padding-top: 50px;
        width: 500px;
      }

      h3,
      h4,
      p {
        color: aliceblue;
      }

      h1 {
        color: #14ae5c;
        font-size: 36px;
        margin-top: -20px;
        width: 300px;
        margin-left: 40px;
      }

      h4 {
        text-align: end;
      }

      p {
        width: 100%;
        height: auto;
      }

      img {
        width: 245px;
        height: 256px;
        border-end-end-radius: 103px;
        border-end-start-radius: 64px;
        border-start-start-radius: 103px;
        border-start-end-radius: 77px;
        box-shadow: 2px 5px 0px 12px #9d927d;
      }

      button {
        position: relative;
        padding: 12px 20px;
        background: #14ae5c;
        font-size: 17px;
        font-weight: 500;
        color: aliceblue;
        border: 3px solid #14ae5c;
        border-radius: 8px;
        box-shadow: 0 0 0 #14ae5c;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        transition: linear 100ms;
      }

      button:active {
        transform: translateY(5px);
      }
    }
  }

  @media (max-width: 770px) {
    .presentacion {
      flex-direction: row;
      width: 90%;
      .descripcion {
        width: 100%;
      }

      .container-img {
        justify-items: center;
        align-items: center;
        // justify-content: flex-end;
        padding-top: 50px;
        width: 100%;
      }

      h3,
      h4,
      p {
        color: aliceblue;
      }

      h1 {
        color: #14ae5c;
        font-size: 36px;
        margin-top: -20px;
        // width: 300px;
        margin-left: 40px;
        word-break: keep-all;
      }

      h4 {
        text-align: end;
        // width: 400px;
        // font-size: 1.5rem;
      }

      p {
        width: 100%;
        height: auto;
      }

      img {
        width: 245px;
        height: 256px;
        border-end-end-radius: 103px;
        border-end-start-radius: 64px;
        border-start-start-radius: 103px;
        border-start-end-radius: 77px;
        box-shadow: 2px 5px 0px 12px #9d927d;
      }

      button {
        position: relative;
        padding: 12px 20px;
        background: #14ae5c;
        font-size: 17px;
        font-weight: 500;
        color: aliceblue;
        border: 3px solid #14ae5c;
        border-radius: 8px;
        box-shadow: 0 0 0 #14ae5c;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        transition: linear 100ms;
      }

      button:active {
        transform: translateY(5px);
      }
    }
  }

  .sobre-mi {
    width: 90%;
    display: flex;
    flex-direction: column;

    h1 {
      height: fit-content;
      font-size: 3rem;
    }

    h3,
    h6 {
      color: aliceblue;
    }

    h3 {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }

    h6 {
      width: fit-content;
      font-size: large;
      height: fit-content;
      // line-clamp: 2;
      word-break: break-all;
      white-space: normal;
      width: 100%;
    }

    .info {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      // gap: 10px;
      height: fit-content;

      > * {
        flex: 1 1 calc(49% + 9px);
      }

      .tag {
        display: grid;
        grid-template-columns: 25% 0% auto;
        gap: 55px;
        align-items: center;
        // min-width: 400px;
        height: 70px;
      }
    }

    .container-cards {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      height: fit-content;
      column-gap: 10px;
      > * {
        flex: 1 1 calc(255px);
      }

      .columna {
        display: flex;
        flex-direction: column;
        // gap: 10px;
        width: 100%;
      }

      .card {
        width: 100%;
        height: 110px;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 10px 25px;
        background-color: #1e1e1e;
        position: relative;
        overflow: hidden;
        display: flex;
        margin-top: 10px;
      }
      .wave {
        position: absolute;
        transform: rotate(90deg);
        left: -45px;
        top: 45px;
        width: 120px;
        fill: #14ae5c;
      }

      .message-text-container {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        // display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-grow: 1;
      }
      .message-text,
      .sub-text {
        margin: 0;
        display: -webkit-box;

        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .message-text {
        color: aliceblue;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        font-size: 17px;
        font-weight: 700;
      }
      .sub-text {
        font-size: 14px;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        color: #c1c1c1;
      }
    }
  }

  .skills {
    width: 90%;
    display: flex;
    flex-direction: column;

    h1 {
      height: fit-content;
      font-size: 3rem;
    }

    h3,
    h6 {
      color: aliceblue;
    }

    h3 {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      // text-align: center;
    }

    .container-skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      justify-items: center;

      .columna {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 65%;
      }
    }
  }

  .proyectos {
    width: 90%;
    display: flex;
    flex-direction: column;

    h1 {
      height: fit-content;
      font-size: 3rem;
    }

    h3,
    h6 {
      color: aliceblue;
    }

    h3 {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }

    .container-proyectos {
      width: 100%;
      display: flex;
      flex-direction: column;

      swiper-container {
        width: 100%;
      }

      swiper-slide {
        width: 256px;
        height: 330px;
        border-radius: 8px;
        background-color: #1e1e1e;
        position: relative;
        overflow: hidden;
        // display: flex;
        margin-top: 10px;
      }

      swiper-slide img {
        width: 100%;
        height: 260px;
      }

      p {
        color: aliceblue;
        text-align: center;
        // margin: 5px;
        z-index: 10;
        font-size: large;
        transform: translateY(-10px);
        position: relative;
      }
    }
  }

  .footer {
    width: 90%;
    display: flex;
    flex-direction: column;

    h1 {
      height: fit-content;
      font-size: 3rem;
    }

    .container-form {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      height: fit-content;
      padding-bottom: 100px;

      > * {
        flex: 1 1 calc(49% + 9px);
      }

      .columna {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
      }

      .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .input {
        width: 70%;
        height: 35px;
        padding: 12px;
        border-radius: 12px;
        border: 1.5px solid lightgrey;
        outline: none;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        box-shadow: 0px 0px 20px -18px;
      }

      textarea {
        width: 90%;
        height: 150px;
        padding: 12px;
        border-radius: 12px;
        border: 1.5px solid lightgrey;
        outline: none;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        box-shadow: 0px 0px 20px -18px;
      }

      .input:hover {
        border: 4px solid #14ae5c;
        box-shadow: 0px 0px 20px -17px;
      }

      .input:active {
        transform: scale(0.95);
      }

      .input:focus {
        border: 4px solid #14ae5c;
      }

      .button {
        width: 20%;
        position: relative;
        padding: 12px 0px;
        background: #14ae5c;
        font-size: 17px;
        font-weight: 500;
        color: aliceblue;
        border: 3px solid #14ae5c;
        border-radius: 8px;
        box-shadow: 0 0 0 #14ae5c;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        transition: linear 100ms;
        text-align: center;
        min-width: 55px;
      }

      .button:active {
        transform: translateY(5px);
      }

      p {
        color: aliceblue;
        margin-left: 5px;
        font-size: large;
        position: relative;
      }
    }
  }
}
